.custom-button {
  width: auto;
  padding: 5px 10px;
  letter-spacing: 0.5px;
  font-size: 15px;
  background-color: #e6e6e6;
  color: black;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  outline: none;
  box-shadow: -1px 1px 4px -1px rgba(0, 0, 0, 0.75);

  &:hover {
    background-color: #eeeeee;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
  }

  &:disabled {
    background-color: #adadad;
    color: #505050;
    border: 1px solid grey;
    cursor: not-allowed;
  }
}
