.form-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  .form-input {
    padding: 10px;
  }
  .invalid-feedback {
    padding: 5px 0 0;
    font-size: 12px;
    color: #ac0606;
  }
  .buttons-container {
    display: flex;
    justify-content: center;
    padding: 5px 0;
  }
}
